body {
    background-color: #fff; /* Set the background color to #DDD8C4 */
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .menu-option {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 30px; /* Adjust spacing between menu options */
    transition: color 0.3s;
    font-family: "Glacial Indifference", sans-serif;
  }

  .menu-option:hover {
    color: #100604; /* Change color on hover */
  }

  .banner {
    position: absolute;
    background-color: #f0a202; /* Banner color */
    width: 100%; /* Full width */
    height: 110px; /* Adjust the height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .banner2 {
    position: absolute;
    background-color: #f18805; /* Banner color */
    width: 100%; /* Full width */
    height: 45px; /* Adjust the height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: 10%;
  }

  .logo {
    position: absolute;
    top: -70px;
    left: 0;
    margin: 10px;
    width: auto;
    height: 190px;
  }
  h1 {
    
    font-weight: bold;
    margin-top: 20px;
  }
  p {
    line-height: 1.1em;
  }
  .trigger {
    position: absolute;
    background: #f18805;
    border: 2px solid #040f0f;
    color: #fff;
    font-size: 22px;
    top: 1%;
    left: 84%;
    padding: 7px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
  }
  .trigger:hover {
    background: #040f0f;
  }
  .user {
    position: absolute;
    top: 1%;
    left: 93%;
    width: 6%;
    height: 10%;
    transition: transform 0.3s ease-in-out;
  }
  .user:hover {
    transform: scale(1.2);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0; 
    visibility: hidden;
  }
  .overlay:target {
    opacity: 1;
    visibility: visible;
  }
  .wrapper {
    position: relative;
    width: 50%;
    min-height: 400px;
    display: flex;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    color: #dd3e42;
    font-weight: bold;
    transition: all 200ms;
  }
  .close:hover {
    transform: scale(1.2);
  }

  .column {
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .details {
    background: #f18805;
  }
  .details h1 {
    color: #10213e;
  }

  .signin, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    font-family: inherit;
    color: #202c59;
    font-size: inherit;
    transition: transform 0.3s ease-in-out;
  }

  input:focus {
    outline-color: #202c59;
  }
  input:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
    transition: transform 0.3s ease-in-out;
  }
  a:hover {
    transform: scale(1.05);
  }
  .form-submit {
    background: #10213e;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 12px 45px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
  }
  .form-submit:hover {
    transform: scale(1.1);
  }
  .signup .form-submit {
    margin-top: 15px;
  }
  #signin, #signup {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  #signin, #signup:hover {
    transform: scale(1.1);
  }
  
  span {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
    color: #100604;
  }

  .content {
    background: #10213e;
    color: #fff;
    text-align: center;
  }

  @media only screen  and (max-width: 900px){
    .wrapper{
        width: 80%;
    }
 }
 @media only screen  and (max-width: 480px){
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }
    .column {
        width: 100%;
    }
    .close {
        top: 0;
        right: 10px;
        margin: 0;
    }
 }
 .gcse h2{
    position: absolute;
    top: 40%;
    left: 34%;
    text-align: center;
    font-size: 25px;
    z-index: -1;
 }
 /* .countdown {
    position: absolute;
    display: flex;
    top: 24%;
    left: 43%;
    transform: scale(1.5);
    align-items: center;
    border: 1px dashed #100604;
    padding: 6px 10px;
    border-radius: 20px;
    height: 70px;
    z-index: -1;
 }
 .countdown div {
    flex-basis: 100px;
    text-align: center;
 }
 .countdown div p {
    margin-bottom: 14px;
    font-size: 15px;
    
 } */
 .english h2 {
    position: absolute;
    margin-top: 39%;
    left: 10px;
    background: #f18805;
    text-align: center;
    padding-top: 2%;
    width: 750px;
    height: 440px;
    font-size: 30px;
    font-weight: bold;
    z-index: -1;
 }
 .maths h2 {
    position: absolute;
    margin-top: 78%;
    left: 40%;
    background-color: #f18805;
    width: 750px;
    height: 440px;
    padding-top: 2%;
    text-align: center;
    z-index: -1;
    font-size: 30px;
    font-weight: bold;
 }
 .sciences h2 {
    position: absolute;
    text-align: center;
    padding: 2%;
    margin-top: 117%;
    left: 0px;
    background-color: #202c59;
    width: 96%;
    height: 540px;
    color: white;
    z-index: -1;
    font-size: 30px;
    font-weight: bold;
 }
 .chemistry h2 {
    position: absolute;
    text-align: center;
    margin-top: 155%;
    left: 2%;
    width: 300px;
    height: 600px;
    border: 15px dashed #100604;
    background-color: #f0a202;
    padding: 50px;
    color: #000;
    z-index: -1;
    font-size: 30px;
    font-weight: bold;
  }
  .biology h2 {
    position: absolute;
    text-align: center;
    margin-top: 155%;
    left: 33.8%;
    width: 300px;
    height: 600px;
    border: 15px dashed #100604;
    background-color: #f0a202;
    padding: 50px;
    color: #000;
    z-index: -1;
    font-size: 30px;
    font-weight: bold;
  }
  .physics h2 {
    position: absolute;
    text-align: center;
    margin-top: 155%;
    left: 65.6%;
    width: 300px;
    height: 600px;
    border: 15px dashed #100604;
    background-color: #f0a202;
    padding: 50px;
    color: #000;
    z-index: -1;
    font-size: 30px;
    font-weight: bold;
  } 
  .hat {
    position: absolute;
    margin-top: 13%;
    left: 10px;
    width: 450px;
    z-index: -1;
  }
  .book {
    position: absolute;
    margin-top: 20%;
    width: 590px;
    z-index: -1;
  }
  .papers {
    position: absolute;
    margin-top: 36%;
    left: 20px;
    width: 580px;
    z-index: -1;
  }
  .maths1 {
    position: absolute;
    margin-top: 81%;
    left: 53%;
    width: 450px;
    z-index: -1;
  }
  .scope {
    position: absolute;
    margin-top: 124%;
    left: 3%;
    width: 30%;
    z-index: -1;
  }
  .bubbles {
    position: absolute;
    margin-top: 124%;
    left: 34%;
    width: 30%;
    z-index: -1;
  }
  .dna {
    position: absolute;
    margin-top: 124%;
    left: 67%;
    width: 30%;
    z-index: -1;
  }

  .button2 {
    position: absolute;
    top: 90%;
    left: 48%;
    z-index: -1;
  }
  .one {
    color: #000;
    right: 5px;
    margin-top: 40%;
    width: 220%;
    height: 180px;
    border: 5px solid #100604;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
  }
  .one:hover {
    background-color: #040f0f;
    color: #fff;
    transform: scale(1.1);
  }

  .button3 {
    position: absolute;
    top: 160%;
    left: 26%;
    z-index: -1;
  }
  .two {
    color: #000;
    right: 5px;
    margin-top: 40%;
    width: 220%;
    height: 180px;
    border: 5px solid #100604;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
  }
  .two:hover {
    background-color: #040f0f;
    color: #fff;
    transform: scale(1.1);
  }
  .button4 {
    position: absolute;
    top: 340%;
    left: 6.5%;
    z-index: -1;
  }

  .three {
    color: #000;
    right: 5px;
    margin-top: 40%;
    width: 220%;
    height: 180px;
    border: 5px solid #100604;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
  }
  .three:hover {
    background: #040f0f;
    color: #fff;
    transform: scale(1.05);
  }
  .button5 {
    position: absolute;
    top: 340%;
    left: 38%;
    z-index: -1;
  }
  .four {
    color: #000;
    right: 5px;
    margin-top: 40%;
    width: 220%;
    height: 180px;
    border: 5px solid #100604;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
  }
  .four:hover {
    background-color: #040f0f;
    color: #fff;
    transform: scale(1.05);
  }
  .button6 {
    position: absolute;
    top: 340%;
    z-index: -1;
    left: 70%;
  }
  .five {
    color: #000;
    right: 5px;
    margin-top: 40%;
    width: 220%;
    height: 180px;
    border: 5px solid #100604;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
  }
  .five:hover {
    background-color: #040f0f;
    color: #fff;
    transform: scale(1.05);
  }
  
  
  .container {
    width: 700px;
    height: auto;
    background-color: #f18805;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }
  .box {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-size: 35px;
    margin: 15px;
  }
  .name2 {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  .name2 i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
  }
  .name2 input {
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #eee;
    border-radius: 40px;
  }
  .name2 input::placeholder {
    color: #bbb;
    font-weight: 500;
  }


  .email2 {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  .email2 i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
  }
  .email2 input {
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #eee;
    border-radius: 40px;
  }
  .email2 input::placeholder {
    color: #bbb;
    font-weight: 500;
  }
  .email2 {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  .email2 i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
  }
  .email2 input {
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #eee;
    border-radius: 40px;
  }
  .email2 input::placeholder {
    color: #bbb;
    font-weight: 500;
  }
  .message-box {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  .message-box i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
  }
  .message-box textarea {
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #eee;
    border-radius: 40px;
  }
  .message-box textarea::placeholder {
    color: #bbb;
    font-weight: 500;
  }
  .button {
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;

  }
  .button button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #10213e;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
  @keyframes buttons {
    0%{transform: scale(0.1);}
    50%{transform: scale(0.5);}
    100%{transform: scale(1);}
  }










  




  /* .show-btn {
    position: absolute;
    background: #f18805;
    border: 2px solid #040f0f;
    color: #fff;
    padding: 7px 20px;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    top: 410%;
    left: 85%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
  }
  .show-btn:hover {
    background: #040f0f;
  }
  
  input[type="checkbox"]{
    display: none;
  }

  #show:checked ~ .container {
    display: block;
  }
  .container {
    position: absolute;
    top: 375%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: none;
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    background: #10213e;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
 
  .container .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  .close-btn:hover {
    color: red;
    transform: scale(1.2);
  }
  h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  form {
    margin: 20px;
  }
  label {
      display: block;
      color: #fff;
      font-size: 18px;
      margin-top: 10px;
  }

  input[type="text"]{
      display: block;
      width: 90%;
      background: transparent;
      border: none;
      outline: none;
      border: 1px solid #fff;
      padding: 10px;
      color: #fff;
  }
  input[type="password2"]{
    display: block;
    width: 90%;
    height: 70px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
  }
  button {
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: #dd3e42;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    transform: scale(1.1);
  } */

 .end ul {
  position: absolute;
  color: #fff;
  line-height: 150%;
  background-color: #f18805;
  width: 96%;
  height: 70px;
  list-style: none;
  margin-top: 225%;
  left: 0px;
  padding: 2%;
  z-index: -1;
  font-size: 20px;
  font-weight: bold;
 }
  /*  h1 {
    
    font-weight: bold;
    margin-top: 20px;
  }
  p {
    line-height: 1.1em;
  }

 
 }
   */
  

  /* 
}

    .buttons3 {
      position: absolute;
      top: 413%;
      right: 30px; button position */
     

    /* .contact,
    .about {
      width: 110px;
      height: 40px;
      font-size: 16px;
      border: none;
      border-radius: 30px;
      margin: 20px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .contact {
      background-color: #d95d39;
      color: #fff;
      right: 5px;
    }

    .contact:hover {
      background-color: #040f0f;
    }

    .about {
      background-color: #d95d39;
      color: #fff;
      right: 50px; 
     }

    .about:hover {
      background-color: #040f0f;
    }  */
     

    