html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quiz,
.choices {
    list-style-type: none;
    padding: 0;
}

.choices li {
    margin-bottom: 5px;
}

.choices label {
    display: flex;
    align-items: center;
}

.choices label,
input[type="radio"] {
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 8px;
}

.view-results {
    padding: 1rem;
    cursor: pointer;
    font-size: inherit;
    color: white;
    background: teal;
    border-radius: 8px;
    margin-right: 5px;
}

.my-results {
    padding: 1rem;
    border: 1px solid goldenrod;
}

h1 {
    background-color: #F0A202;
    padding: 20px;
    font: 1em verdana;
    font-size: xx-large;
    text-align: center;
}


a {
    text-decoration: none;
    border: 0.2px solid #000;
    color: #000;
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    font: 1em verdana;
    font-size: large;
}